:root {
    --text-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* Text colors */
    --accent-color: #FF6C00;
    --main-text-color: #555;
    --secondary-text-color: #ffffff;

    /* Background colors */
    --main-background-color: #FFF;
    --secondary-background-color: #F7F7F7;
    --dark-background-color: #191C26;

    // Transition

    --transition-dur-and-func: 250ms linear;

}



